* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     max-width: 100%;
}

.container {
    width: 100%;
    padding: 0 25px;
    margin: auto;
}

html, body {
    overflow-x: hidden;
}

html {
    --primary-color: #000000;
    --primaryfont: "Merriweather Sans";
    --secondary-color: #E5E5E5;
}

/*0
.row {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
*/



.content .line {
    width: 100px;
    height: 3px;
    background-color: #f4623a;
    margin: 10px auto;
}



section img {
    width: 100%;
}

:root {
    --spacer: 20px;
}


ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}


a {
    text-decoration: none;
}


.flex-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}


.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}


.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}


.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-between {
    align-content: space-between;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.flex-grow-0 {
    flex-grow: 0;
}



.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 20px;
    background-color: white;
    box-shadow:0px 5px 10px 2px rgb(33 37 41 / 89%);
}

.header a {
    color: #000000;
    display: flex;
    padding: 10px 20px;
    font-family: var(--primaryfont);
}

.header a:hover {
    color: #f4623a;
}


.hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    background-image: url(./../img/bg-masthead.png);

}



.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(131 113 100 / 52%);
}


.hero .content {
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.content h1 {
    max-width: 800px;
    font-size: 60px;
    font-family: var(--primaryfont);
}

.hero .content p {
    max-width: 600px;
    margin: 20px 0;
    font-size: clamp(14px, 2.5vw, 25px);
    line-height: 1.8;
}


.btn-hero {
    background-color: #f4623a;
    color: white;
     padding: clamp(10px, 1.5vw, 15px) clamp(20px, 3vw, 35px);
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
    font-family: var(--primaryfont);
}

.btn-hero:hover {
    background-color: #d94e2f;
}


.page-section {
    background-color: #ff5e1e;
    padding: 100px;
}


.page-section h2 {
    font-family: var(--primaryfont);
    color: white;
    font-size: clamp(24px, 4vw, 40px);
}

.page-section p {
    color: rgb(255, 228, 213);
    padding: 30px 20px;
    font-size: clamp(14px, 2.5vw, 25px);
}

.btn-page {
    background-color: #fffefe;
    color: rgb(0, 0, 0);
    padding: clamp(10px, 1.5vw, 15px) clamp(20px, 3vw, 35px);
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
    font-family: var(--primaryfont);

}

.page-section a:hover {
    background-color: #d3cece;
}

.page-section .line {
   
    height: 3px;
    width: clamp(50px, 10vw, 80px);
    background-color: #ffffff;
    margin-top: 30px;
}


.service img {
    width: 100%;
    max-width: 40px;

}


.service-page {
    padding: 50px 0px;
    width: 100%;
}

.service-page h2 {
    font-family: var(--primaryfont);
    font-size: 30px;
    margin: 30px 0;

}


.service-item {
    padding: 20px 0;
}

.service-item h3 {
    font-family: var(--primaryfont);
    padding: 15px 0px;
}

.service-item p {
    color: rgb(79, 76, 76);
    font-size: 16px;

}





.item {
    position: relative;
    height: 300px;
    overflow: hidden;
}


.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}


.item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(244 98 58 / 90%);
    opacity: 0;
    transition: 0.4s;
}


.item .content {
    color: white;
    transform: translateY(20px);
    transition: 0.4s;
}

.item .content span {
    font-size: 14px;
    opacity: 0.8;
    font-family: var(--primaryfont);
}

.item .content h3 {
    font-size: 28px;
    margin-top: 10px;
}


.item:hover .overlay {
    opacity: 1;
}

.item:hover img {
    transform: scale(1.1);
}

.item:hover .content {
    transform: translateY(0);
}








.free-download{
    background-color: rgb(33, 37, 41);
    color: white;
   width: 100%;
   padding: 100px 0px;

}
 .free-download h2{
   margin-bottom: 20px;
   font-family: var(--primaryfont);
   font-size: clamp(22px, 4vw, 35px);
 }

.btn-download{
    background-color: #fffefe;
    color: rgb(0, 0, 0);
     padding: clamp(10px, 1.5vw, 15px) clamp(20px, 3vw, 35px);
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
    font-family: var(--primaryfont);
}

.btn-download:hover{
    background-color: rgb(152, 154, 156);
     transform: scale(1.05);
}




.contact {
    padding: 50px 20px;
}


.contact .line {
    width: 50px;
    height: 3px;
    background-color: #f4623a;
    margin: 10px auto;
}


.contact h2 {
    font-family: var(--primaryfont);
    font-size: 30px;
}


.contact P{
  color: rgb(102 98 98);
  font-size: 19PX;
}

.contact img{
    width: 100%;
    max-width: 35px;
    margin-bottom: 20px;
}

.contact-info {
    padding: 30px 0;
    gap: 15px;
    width: 100%;
    max-width: 600px;
}

.contact-info input,
.contact-info textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: var(--primaryfont);
}

.contact-info textarea {
    height: 150px;
   
}


.button {
    padding: 15px;
    background-color: #f4623a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    font-family: var(--primaryfont);
}

.button:hover {
    background-color: #d94e2f;
}


footer{
    background-color: #f5f1f1;
   
      padding: 55px 15px;
}


footer p{
    font-size: 20px; 
    color: #666;
}




